@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: icofont;
  src: url("./../fonts/icofont.ttf");
  font-weight: Regular;
}
@font-face {
  font-family: Reunir;
  src: url("./../fonts/Reunir.ttf");
  font-weight: Regular;
}

html,
body {
  font-family: Open Sans;
  padding: 0;
  margin: 0;
  background: #fff;
}

@layer utilities {
  .bg-smart_blue_01 {
    background-color: #1c1646;
  }
  .text-smart_blue_01 {
    color: #1c1646;
  }
  .bg-smart_orange_01 {
    background-color: #d43024;
  }
  .text-smart_orange_01 {
    color: #d43024;
  }
  .bg-smart_purple_01 {
    background-color: #761acc;
  }
  .text-smart_purple_01 {
    color: #761acc;
  }
  .bg-smart_red_01 {
    background-color: #ca002c;
  }
  .text-smart_red_01 {
    color: #ca002c;
  }
  .bg-smart_indigo_01 {
    background-color: #6f14c8;
  }
  .text-smart_indigo_01 {
    color: #6f14c8;
  }

  .line-clamp-1 {
    -webkit-line-clamp: 1;
  }
  .line-clamp-2 {
    -webkit-line-clamp: 2;
  }
  .line-clamp-3 {
    -webkit-line-clamp: 3;
  }

  .truncate-5 {
    overflow: hidden;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    /* font-size: 1.125rem; */
  }
}
